<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="con">
        <nav>
            <a href="index.html"><img src="naruto.png" alt="logo"></a>
            <div id="nav-links">
            <ul>
                <li> <a href="index.html">Home</a> </li>
                <li> <a href="#">Contact us</a>  </li>
                <li> <a href="#">Gallery</a>
                <div class="abc">     
                <ul>
                    <li> <a href="Gallery.html" target="blank">Naruto</a></li>
                    <br>
                    <li>Bleach</li>
                    <br>
                    <li>Full Metal Alchemist</li>
                    <br>
                    <li>Anohana</li>
                </ul>
                </div>
                </li>
                <li> <a href="#">Genre</a> <div class="abc"><ul>
                <li>Action</li>
                <br>
                <li>Romance</li>
                <br>
                <li>Horrer</li>
                <br>
                <li>Military</li></ul>
                </div>
                </li>
                <input type="search" placeholder="Search" style="position: relative;">
                <button>Search</button>
            </ul>
    
            </div>
            </nav>
            <div id="Contact" >
                <form style="border: black solid;">
                    <br>
                   <center> <H2 style="text-shadow:3px 3px rgb(141, 140, 140);">Contact Us</H2></center>
                    <hr><br>
                    <label>First Name </label><br>
                    <input type="text" placeholder="First Name" required><br><br>
                    <label >Last Name</label><br>
                    <input type="text" placeholder="Last Name" required><br><br>
                    <label>Email Address</label><br>
                    <input type="email" placeholder="Email" required><br><br>
                    <label>Phone Number</label><br>
                    <input type="tel" placeholder="Phone Number" required><br><br>
                    <label>Message</label><br>
                    <input id="lab" type="text" placeholder="State Your Reason">
                    <br><br>
                    <input type="button" value="Submit" style="width: 200px; height: 30px; background-color: black; color: whitesmoke;">
                    


                </form>











            </div>













            <footer>
                <div id="left">
                <img src="naruto.png" alt="logo" width="100px">
                <br>
                <p>FMovies is top of free streaming website, where to watch movies online free without registration required. With a big database and great features, we're confident FMovies is the best free movies online website in the space that you can't simply miss!</p>
                </div>
                <div id="right">
                <table>
                    <tr>
                    <th style="color: red;">LINKS</th>
                </tr>
                <tr>
                    <td>Facebook</td>
                </tr>
                <tr>
                    <td>Youtube</td>
                </tr>
                <tr>
                    <td>Whatsapp</td>
                </tr>
                </table>    
                </div>
                
            </footer>
    </div>
    
</body>
</html>