<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="Gall">
    <nav>
        <a href="index.html"><img src="naruto.png" alt="logo"></a>
        <div id="nav-links">
        <ul>
            <li> <a href="index.html">Home</a> </li>
            <li> <a href="contact_us.html">Contact us</a>  </li>
            <li> <a href="#">Gallery</a>
            <div class="abc">     
            <ul>
                <li>Naruto</li>
                <br>
                <li>Bleach</li>
                <br>
                <li>Full Metal Alchemist</li>
                <br>
                <li>Anohana</li>
            </ul>
            </div>
            </li>
            <li> <a href="#">Genre</a> <div class="abc"><ul>
            <li>Action</li>
            <br>
            <li>Romance</li>
            <br>
            <li>Horrer</li>
            <br>
            <li>Military</li></ul>
            </div>
            </li>
            <input type="search" placeholder="Search" style="position: relative;">
            <button>Search</button>
        </ul>

        </div>
        </nav>
        <div class="flex-container">
            <div id="side_bar">

            </div>
            <div id="slider">
                <div id="top">
                <div class="mage"><a href="img1.jpg"><img src="img1.jpg" alt=""></a></div>  
                <div class="mage"><a href="img2.jpg"><img src="img2.jpg" alt=""></a></div>
                <div class="mage"><a href="img3.jpg"><img src="img3.jpg" alt=""></a></div>
                <div class="mage"><a href="img4.jpg"><img src="img4.jpg" alt=""></a></div>
                <div class="mage"><a href="img5.jpg"><img src="img5.jpg" alt=""></a></div>
                </div>
                <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
                <div id="bottom">
                <div class="mage"><a href="img6.png"><img src="img6.png" alt=""></a></div>
                <div class="mage"><a href="img7.png"><img src="img7.png" alt=""></a></div>
                <div class="mage"><a href="img8.jpg"><img src="img8.jpg" alt=""></a></div>
                <div class="mage"><a href="img9.jpg"><img src="img9.jpg" alt=""></a></div>
                <div class="mage"><a href="image11.jpg"><img src="image11.jpg" alt=""></a></div>
                </div>
            </div>

        </div>
        <footer>
            <div id="left">
            <img src="naruto.png" alt="logo" width="100px">
            <br>
            <p>FMovies is top of free streaming website, where to watch movies online free without registration required. With a big database and great features, we're confident FMovies is the best free movies online website in the space that you can't simply miss!</p>
            </div>
            <div id="right">
            <table>
                <tr>
                <th style="color: red;">LINKS</th>
            </tr>
            <tr>
                <td>Facebook</td>
            </tr>
            <tr>
                <td>Youtube</td>
            </tr>
            <tr>
                <td>Whatsapp</td>
            </tr>
            </table>    
            </div>
            
        </footer>
    </div>

</body>
</html>