<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.jpg">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Anime</title>
</head>
<body>
     <header>
         
     
            <nav>
            <a href="index.html"><img src="naruto.png" alt="logo"></a>
            <div id="nav-links">
            <ul>
                <li> <a href="#">Home</a> </li>
                <li> <a href="#"> <a href="contact_us.html" target="blank"> Contact us</a>  </li>
                <li> <a href="#">  Gallery </a>
                <div class="abc">     
                <ul>
                    <li> <a href="Gallery.html" target="blank">Naruto</a></li>
                    <br>
                    <li>Bleach</li>
                    <br>
                    <li>Full Metal Alchemist</li>
                    <br>
                    <li>Anohana</li>
                </ul>
                </div>
                </li>
                <li> <a href="#">Genre</a> <div class="abc"><ul>  
                <li>Action</li>
                <br>
                <li>Romance</li>
                <br>
                <li>Horrer</li>
                <br>
                <li>Military</li></ul>
                </div>
                </li>
                <input type="search" placeholder="Search" style="position: relative;">
                <button>Search</button>
            </ul>

            </div>
            </nav>
            <br><br>
            <div id="middle">
                <center>
                    <a href="index.html"><img src="naruto.png" alt="logo" style="width: 180px;"></a>
                    <h2>Watch Anime Online</h2>
                    <p class="mid">Anime is one of the best site to watch anime online for free. We give full access to a database of over 20000 anime movies and 5000 anime series in high quality for free streaming, with no registration required. Anime updates new content on a daily basis and with our huge database, you can find all your favorite movies and shows easily.

                        Please support us by sharing <strong>Anime</strong> site with your friends and family. Thanks!</p>
                    <a href="https://www.android.com/" target="blank"><i class="fa fa-android" style="font-size: 40px;"></i></a>
                    <a href="https://www.amazon.in/" target="blank"><i class="fa fa-amazon" style="font-size: 40px;"></i></a>
                    <a href="https://www.google.com/" target="blank"><i class="	fa fa-chrome" style="font-size: 40px;"></i></a>
                    <br><br>
                    <button> <a href="" style="text-decoration: none;"> Go To HomePage </a></button>
                    <p class="mid">Want Free Anime movies and TV shows? HD resolution? Fast streaming speed? Fmovies has got them all! 
                        Anime has a huge collection of movies and TV shows with a wide range of genres including Action, Animation, Comedy, Documentary, History, Horror, Thriller, Sci-fi, TV shows, Game-Show, etc. No matter what you are looking for, be it the latest releases or all-time classics, Hollywood blockbusters or Bollywood dramas, English series or Japanese anime, you are most likely to find it on Anime in HD quality. We update new titles on a daily basis to make sure our valued users can catch up with the cinematic world. You can access to our full content library without any engagements. </p>
                </center>

            </div>
            <footer>
                <div id="left">
                <img src="naruto.png" alt="logo" width="100px">
                <br>
                <p>FMovies is top of free streaming website, where to watch movies online free without registration required. With a big database and great features, we're confident FMovies is the best free movies online website in the space that you can't simply miss!</p>
                </div>
                <div id="right">
                <table>
                    <tr>
                    <th style="color: red;">LINKS</th>
                </tr>
                <tr>
                    <td>Facebook</td>
                </tr>
                <tr>
                    <td>Youtube</td>
                </tr>
                <tr>
                    <td>Whatsapp</td>
                </tr>
                </table>    
                </div>
                
            </footer>
        </header>
    
    
</body>
</html>